
.strike-text {
    color:  red;
    text-decoration:  line-through;
}
.product-image {
    width:  100%}

.spec-1 {
    color:  #938787;
    font-size:  15px;
}
h4 {
    font-weight:  600;
    font-size: 35px;
}
h5 {
    font-weight:  500;
    font-size: 20px;
}
p{
    font-size: 16px;
    line-height: 1.2em;
}
