.social-login{
    display: flex;
    justify-content: center;
}
.social-login div{
    height: 2px;
    width: 160px;
    background-color: red;
    margin: 10px;
}
.g-btn{
    font-size: 22px !important;
}
.box{
    width: 50% !important;
}
@media only screen and (max-width: 795px) {
    .box{
    width: 95% !important;
}
}